<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>458745810103-f67mhq05h8luuddldtaq7c52o8j37ot9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.458745810103-f67mhq05h8luuddldtaq7c52o8j37ot9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>458745810103-7untrhg9a3ccp0f4ur3aqmfibhk8e99a.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC_AUmsAhkk4DBtaY2AKUkJUf0UvUM8XLA</string>
	<key>GCM_SENDER_ID</key>
	<string>458745810103</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>saramahran.com.aview2</string>
	<key>PROJECT_ID</key>
	<string>aview-9a1ad</string>
	<key>STORAGE_BUCKET</key>
	<string>aview-9a1ad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:458745810103:ios:a746f51e5aa60cbd7c9132</string>
	<key>DATABASE_URL</key>
	<string>https://aview-9a1ad-default-rtdb.firebaseio.com</string>
</dict>
</plist>